.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background-color: var(--color-neutral-3);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--color-primary-5);
    font-weight: 500;
}

.input-box input::placeholder {
    color: var(--color-neutral-2);
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: var(--color-primary-5);
}