@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('input.css');
@import url('container.css');


:root {
    --color-primary-1: #D9B68B;
    --color-primary-2: #F2921D;
    --color-primary-3: #A65814;
    --color-primary-4: #A63117;
    --color-primary-5: #0D0B08;

    --color-neutral-1: #ffffff;
    --color-neutral-2: #888;
    --color-neutral-3: #EEE;

    --font-style-1: "Karantina", system-ui;
    --font-style-2: "Poppins", sans-serif;
}

*{
    font-family: var(--font-style-1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*Colocar back ground*/
}

.btn {
    width: 100%;
    height: 48px;
    background-color: var(--color-neutral-1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border: 2px solid var(--color-primary-1);
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-primary-1);
    font-weight: 600;
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-1)
}

.social-icons {
    display: flex;
    justify-content: center;

}

.social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid;
    font-size: 24px;
    margin: 0 8px;
    color: var(--color-primary-1);
    transition: background-color .3s ease;
}

.social-icons a:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-1)
}

