#barbers_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/background-barber.jpg');
   
}


#barbers_menu .title {
    font-size: 4em;
    font-weight: bolder;
    margin-top: 140px;
}

#barbers_menu .subtitle {
    font-size: 2em;
    color: var(--color-primary-3);

}

#barbers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -80px;
}

#barbers .title {
 font-size: 2em;
}

.barber {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
}

.barber img {
    width: 70%;
    border-radius: 5px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.281);
}


@media screen and (max-width: 1170px) {
    #barbers_menu .subtitle {
        text-align: center;
    }

    #barbers {
        display: flex;
        flex-direction: column;
    }

    .barber img {
        width: 300px;
        border-radius: 5px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.281);
    }
    

}

