header {
    width: 100%;
    padding: 10px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-5);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25.5%;
}

#buttons {
    display: flex;
    gap: 90px;
}

#logo {
    border-radius: 50px;
}

#nav_list {
    display: flex;
    margin-left: 150px;
    list-style: none;
    gap: 88px;
}

.nav-item a {
    text-decoration: none;
    font-size: 24px;
    color: var(--color-primary-1);
}


/*Estilo Active nao esquecer*/

#mobile_btn {
    display: none;
}

#mobile {
    display: none;
}


/*Estilo Mobile*/
@media screen and (max-width: 1090px) {
    #nav_list,
    #buttons,
    #navbar .btn-default {
        display: none;
    }
    
    #logo {
        margin-left: 31.2%;
    }


    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile.active {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

}