#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 110px);
    position: relative;
}

#inc {
    display: flex;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    gap: 50px;
}

#inc .sub-title {
    font-size: 2rem;
    color: var(--color-primary-3);
}

#inc .title {
    color: var(--color-primary-5);
    text-align: center;
    font-size: 5rem;
}

#inc .title span {
    color: var(--color-primary-3);
}

#navalha {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navalha_icon {
    width: 12%;
}

#info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}


#info .title {
    color: var(--color-primary-1);
    font-weight: bolder;
    text-align: center;
    font-size: 19px;
    font-family: var(--font-style-2);
    padding: 0px 0px 20px 0px;
}

#info .description {
    color: var(--color-primary-1);
    font-weight: bolder;
    text-align: center;
    font-size: 12px;
    font-family: var(--font-style-2);
}

.shape {
    margin: 0 0 0 60px;
    display: block;
    background-color: var(--color-primary-3);
    width: 2px;
    height: 80px;
}

.box {
    padding: 0 0 0 75px ;
}

@media screen and (max-width: 1090px) {
    #info{
        display:  none;
    }
    #inc {
        margin-top: 5px;
    }

    #inc .title {
        font-size: 3rem;
    }

    #navalha_icon {
    width: 20%;
}


}


