#home {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 110px);
    position: relative;
}

#inc {
    display: flex;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
    gap: 28px;
}

#inc .sub-title {
    font-size: 2rem;
    color: var(--color-primary-3);
}

#inc .title {
    text-align: center;
    font-size: 5rem;
}

#inc .title span {
    color: var(--color-primary-3);
}

#baber_pole {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pole {
    width: 20%;
 
}

