#testimonials {
    min-height: calc(50vh - 91px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.card-item {
    display: block;
    background: #fff;
    padding: 18px;
    user-select: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.feedback-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0px 10px 0px 0px ;
}

.feedback-top p{
    margin: 0px 100px 0px 0px ;
}


.google-icon {
    width: 25px;
}

.feedback-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.feedback-bottom .fa-star {
    color: #fcbf02;
}

@media screen and (max-width: 1090px) {
    #testimonials {
        display: none;
    }

}